<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List User</title>
</head>
<body>
<form th:action="@{validateUser}" th:object="${users}" method="post">
<table>
    <tr>
        <td>Name</td>
        <td><input type="text" th:field="*{name}"></td>
        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
    </tr>
    <tr>
        <td>Age</td>
        <td><input type="text" th:field="*{age}"></td>
        <td th:if="${#fields.hasErrors('age')} " th:error="*{age}">Name Error</td>
    </tr>
    <tr>
        <td><button type="submit">Save</button></td>
    </tr>
</table>
</form>
</body>
</html>